.card {
  border-style:  solid;
  flex: 0 1 48%;
  margin: 20px 0 20px;
  height: 100px;
  align-items: center;
  position: relative;
}
.removeButton{
  position: absolute;
  top: 0;
  right: 0
}
.removeButton:hover{
  color: brown;
}
.number{
  display: flex;
  padding-top: 30px;
  justify-content: center;
}
